<div class="popup-window" id="contacts-window">
<h2 class="popup-window__title block-title">Contact us</h2>
<form class="js-validation-form" novalidate="novalidate">
<div class="form-row">
<label class="form-label">Your name</label>
<input name="name" required="" aria-required="true" type="text">
</div>
<div class="form-row">
<label class="form-label">Phone</label>
<input name="phone" required="" aria-required="true" type="text">
</div>
<div class="form-row">
<label class="form-label">Email</label>
<input name="email" required="" aria-required="true" type="email">
</div>
<div class="form-row">
<label class="form-label">Message</label>
<textarea name="message" required="" aria-required="true"></textarea>
</div>
<div class="form-row">
<label class="form-label">Form Captcha Verification</label>
<div class="g-recaptcha" data-sitekey="6LfvRAwUAAAAABQSV0xCX7jKEGKraE2fop9WpQIS"></div>
<span class="error_g-recaptcha-response error"></span>
</div>
<div class="form-btn-row">
<button type="submit" class="btn btn_large form-block__btn">Send</button>
</div>
</form>
</div>