.projects__item.slick-slide(style="width: 495px;")
    section.project_excerpt
       a(href="{$alias}").project-excerpt__figure
          img(src="{$_pls[\'455x305\']}").project-excerpt__image
       .project-excerpt__caption
           .project-excerpt__subtitle {$longtitle}
           h2.project-excerpt__title
             a(href="{$alias}").project-excerpt__title-link  {$pagetitle}

