<div class="project__lead">[[*text1]]
</div>

<div class="project__images">
<div class="image-grid">
<div class="image-grid__item image-grid__item_medium">
<a href="[[+ms2g.1.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.1.630x420]]" alt="" data-lightbox="roadtrip" class="image-grid__img">
</a>
</div>
<div class="image-grid__item image-grid__item_small">
<a href="[[+ms2g.2.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.2.310x205]]" alt="" data-lightbox="roadtrip" class="image-grid__img">
</a>
</div>
<div class="image-grid__item image-grid__item_small">
<a href="[[+ms2g.3.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.3.310x205]]" alt="" data-lightbox="roadtrip" class="image-grid__img">
</a>
</div>
</div>
</div>

<div class="project__description">[[*text2]]</div>

<div class="project__images">
<div class="image-grid">
<div class="image-grid__item image-grid__item_large">
<a href="[[+ms2g.4.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.4.920x626]]" alt="" class="image-grid__img">
</a>
</div>
<div class="image-grid__item">
<a href="[[+ms2g.5.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.5.470x310]]" alt="" class="image-grid__img">
</a>
</div>
<div class="image-grid__item">
<a href="[[+ms2g.6.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.6.470x310]]" alt="" class="image-grid__img">
</a>
</div>
</div>
</div>

<div class="project__description">[[*text3]]
</div>

<div class="project__images">
<div class="image-grid">
<div class="image-grid__small-group">
<div class="image-grid__item image-grid__item_small">
<a href="[[+ms2g.7.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.7.310x205]]" alt="" class="image-grid__img">
</a>
</div>
<div class="image-grid__item image-grid__item_small">
<a href="[[+ms2g.9.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.9.310x205]]" alt="" class="image-grid__img">
</a>
</div>
</div>
<div class="image-grid__item image-grid__item_medium">
<a href="[[+ms2g.8.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.8.630x420]]" alt="" class="image-grid__img">
</a>
</div>
<div class="image-grid__item image-grid__item_large">
<a href="[[+ms2g.10.url]]" data-lightbox="roadtrip">
<img src="[[+ms2g.10.920x626]]" alt="" class="image-grid__img">
</a>
</div>
</div>
</div>

