{extends 'file:templates/Base.html'} {block 'content'}<div class="page-wrapper"><section class="page-content"><div class="wrapper"><h1 class="page-title">{$_modx->resource.pagetitle}</h1><section class="services"><div class="services__header">{$_modx->resource.introtext}</div><div class="services__aside">{$_modx->runSnippet('pdoResources',[
'parents' => 2,
'limit' => '30',
'sortdir' => 'ASC',
'tplWrapper' => '@INLINE <ul class="services__nav">[[+output]]</ul>',
'tplFirst' => '@INLINE <li class="services__nav-item"><a class="services__nav-link is-active " href="{2 | url}#" data-service="{$alias}"><span class="services__nav-text">[[+pagetitle]]</span></a></li>',
'tpl' => '@INLINE <li class="services__nav-item"><a class="services__nav-link " href="{2 | url}#" data-service="{$alias}"><span class="services__nav-text">[[+pagetitle]]</span></a></li>'])}</div><div class="services__content">{$_modx->runSnippet('ms2GalleryResources',[
'parents' => 2,
'includeThumbs' => '290x208',
'includeOriginal' => '1',
'limit' => '30',
'sortdir' => 'ASC',
'tplFirst' => '@FILE chunks/services/first_service_item.html',
'tpl' => '@FILE chunks/services/services__item.html'])}</div></section></div></section></div>{/block}